
	.m_zeitgeber{
		width:300px;
		height:300px;
		background-color:var(--black);
		margin:5px;
		padding:10px;
		border-top:1px solid var(--dark-blue);
		border-right:1px solid var(--dark-blue);
		position:relative;
		

	}
	
	.zeitgeber_title--weiss{
		color:var(--white);
		text-align:left;
		margin:5px;
		padding:0px;
	}
	
	.zeitgeber_untertitle--weiss{
		color:var(--white);
		text-align:left;
		margin:2px;
		padding:0px;
	}
	
	
	.zeitgeber_uhr--weiss{
		color:var(--white);
		padding:0px;
		font-family: roboto;
		letter-spacing: 0px;
		font-size:40px;
		font-weight:100;
		margin:0 auto;
	}
	
	.zeitgeber_hr{
		color:rgba(0,0.6,0.9,0.5);
	}
	
	
	.zeitgeber_btn{
		color:var(--blue);
		background-color:var(--black-low);
		border:none;
		outline:none;
		text-align:left;
		margin:5px;
		padding:10px;
		font-family: roboto;
		letter-spacing: 0px;
		font-size:14px;
		border-radius:1px;
	}
	
.zeitgeber_btn:hover{
	color:white;
	}

.ende_sektion{
		display:flex;
		justify-content:center;
		position:absolute;
		bottom:5px;
		width:97%;
		
	}
	
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.timer_form_modal {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  
  padding:0px;
  border: 1px solid #888;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#timer_modal_form_close_button{
	position:absolute;
	background-color:white;
	border:none;
	outline:none;
	top:5px;
	right:5px;
	font-size:20px;
}

.form_on_finish_section{
	padding:10px;
	margin: 0 auto;
	width:70%;
}

.alarm_section{
	display:flex;
	flex-direction:row;
	padding:10px;
	margin: 0 auto;
	width:70%;
}

.clock_section{
	display:flex;
	flex-direction:row;
	padding:10px;
	
}

.form_clock_section{
	display:flex;
	flex-direction:row;
	padding:5px;
	
	font-family: roboto;
	letter-spacing: 2px;
	margin: 0 auto;
	width:70%;
}

.timer_title_section{
	padding:10px;
	margin: 0 auto;
	width:70%;
}

.timer_title{
	padding:10px;
	text-align:center;
}

.volume_section{
	padding:10px;
	margin: 0 auto;
	width:70%;
}

.repeating_section{
	padding:10px;
	margin: 0 auto;
	width:70%;
}

.finalize_section{
	display:flex;
	justify-content:center;
	padding:10px;
	width:100%;
	margin:0 auto;
}

#alarm_sound{
	margin-right:10px;
}

.uhr_kiste{
	font-size:25px;
	margin-top:10px;
	
}

.form_uhr_kiste_label{
	padding:0px;
}